<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title><%= content_for?(:title) ? yield(:title) : "QasimaPlus" %></title>
    <%= csrf_meta_tags %>
    <meta name="theme-color" content="#2b3a5c">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="QasimaPlus">
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;1,9..40,300;1,9..40,400&family=Fraunces:ital,opsz,wght@0,9..144,400;0,9..144,600;1,9..144,300;1,9..144,400&display=swap" rel="stylesheet">
    <script>window.$RefreshReg$=()=>{};window.$RefreshSig$=()=>t=>t;</script>
    <%= vite_client_tag %>
    <%= vite_javascript_tag "entrypoints/external.jsx" %>
  </head>
  <body>
    <%= yield %>
    <script>
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("/service-worker.js", { scope: "/external" });
      }
    </script>
  </body>
</html>
